<link href="view/stylesheet/d_admin_menu/d_admin_menu{{style_prefix}}.css" type="text/css" rel="stylesheet">
<ul id="menu2">
    {% for k,menu in config['menus'] %}
    <li id="" data-sort="{{ k}}">
        {% if (not menu['children']) %}
        <a href="{% if menu['href_type'] == 'direct_link' %}{{ menu['href'] }}{% else %}{{ menu['href'] ~ token }}{% endif %}"><i class="fa {{ menu['icon'] }} fa-fw"></i>
            <span>{{ menu['name'] }}</span></a>
        {% else %}
        <a class="parent"><i class="fa {{ menu['icon'] }} fa-fw"></i>
            <span>{{ menu['name'] }}</span></a>
        {% endif %}
        {% if (menu['children']) %}
        <ul {% if constant('VERSION') >= '3.0.0.0' %}class="collapse"{% endif %}>
            {% for children_1 in menu['children'] %}
            <li style="{{ (children_1['is_visible'] is defined and children_1['is_visible'] == 0) ? 'display: none;' : '' }}">
                {% if (not children_1['children']) %}
                <a href="{% if children_1['href_type'] == 'direct_link' %}{{ children_1['href'] }}{% else %}{{ children_1['href'] ~ token }}{% endif %}">{{ children_1['name'] }}</a>
                {% else %}
                <a class="parent">{{ children_1['name'] }}</a>
                {% endif %}
                {% if (children_1['children']) %}
                <ul {% if constant('VERSION') >= '3.0.0.0' %}class="collapse"{% endif %}>
                    {% for children_2 in children_1['children'] %}
                    <li style="{{ (children_1['is_visible'] is defined and children_2['is_visible'] == 0) ? 'display: none;' : '' }}">
                        {% if (not children_2['children']) %}
                        <a href="{% if children_2['href_type'] == 'direct_link' %}{{ children_2['href'] }}{% else %}{{ children_2['href'] ~ token }}{% endif %}">{{ children_2['name'] }}</a>
                        {% else %}
                        <a class="parent">{{ children_2['name'] }}</a>
                        {% endif %}
                        {% if (children_2['children']) %}
                        <ul {% if constant('VERSION') >= '3.0.0.0' %}class="collapse"{% endif %}>
                            {% for children_3 in children_2['children'] %}
                            <li><a href="{% if children_3['href_type'] == 'direct_link' %}{{ children_3['href'] }}{% else %}{{ children_3['href'] ~ token }}{% endif %}">{{ children_3['name'] }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<script src="view/javascript/d_admin_menu/d_admin_menu.js" type="text/javascript"></script>


