<div class="hometab">
	<div class="hometab_inner content">
		<div class="hometab-heading">
			{{ heading_title}}
		</div>
	
<div id="tabs" class="htabs">
  <ul class='etabs'>
	<li class='tab'>
		{% if latestproducts %}
			<a href="#tab-latest">{{ tab_latest }}</a>
		{% endif %}
	</li>
	<li class='tab'>
		{% if bestsellersproducts %}
		<a href="#tab-bestseller">{{ tab_bestseller }}</a>
		{% endif %}
	</li>	
	<li class='tab'>
		{% if specialproducts %}
			<a href="#tab-special">{{ tab_special }}</a>
		{% endif %}
	</li>
	</ul>
 </div>
{% if bestsellersproducts %}
 <div id="tab-bestseller" class="tab-content">
    	  <div class="box">
				<div class="box-content">
					{% set sliderFor = 10 %}
					{%	set productCount = bestsellersproducts|length %}
					
					{% if productCount >= sliderFor %}
						<div class="customNavigation">
							<a class="fa prev fa-arrow-left">&nbsp;</a>
							<a class="fa next fa-arrow-right">&nbsp;</a>
						</div>	
					{% endif %}
					<div class="box-product masonry {% if productCount >= sliderFor %}product-carousel{% else %} productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}tabbestseller-carousel{% else %}tabbestseller-grid{% endif %}">
						{% for product in bestsellersproducts %}
							<div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items{% endif %}">
								<div class="product-block product-thumb transition">
									<div class="product-block-inner">	  	
										<div class="image">
											<a href="{{ product.href }} "><img src="{{ product.thumb }} " alt="{{ product.name }} " title="{{ product.name }} " class="img-responsive" />
											{% if not product.special %}        
											  {% else %}   
											<span class="saleicon sale">Sale</span>  
										   {% endif %}
										</a>
										{#{% if product.rating %}#}
													 <div class="rating">
													 {% for i in 1..5 %}
													 {% if product.rating < i %}
													 <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
													 {% else %}
													 <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
													 {% endif %}
													 {% endfor %}
													 </div>
												{#{% endif %}#}
										</div>
										<div class="caption">
												<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
												{# <p class="desc"><?php echo $product['description']; ?></p> #}

												{% if product.price %}
													<p class="price">
													{% if not product.special %}
													{{ product.price }}
													{% else %}
													<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
													{% endif %}
													{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
													{% endif %}
													</p>
												{% endif %}												
											</div>
										<div class="product_blockhover">									
											<div class="button-group">
												<button class="wishlist_button" type="button" data-toggle="tooltip" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>
												<button type="button" class="cart_button" onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }} </button>
												
												<button class="compare_button" type="button" data-toggle="tooltip" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-area-chart"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

					{% if productCount <= sliderFor %}
						<div class="tm-message">
							<i class="fa fa-frown-o"></i>
							No more products found!
						</div>
						<div class="loadmore">
						<button class="btn btn-default gridcount">Load More</button>
						</div>
						{% endif %}


				</div>
			 </div>
		 <span class="tabbestseller_default_width" style="display:none; visibility:hidden"></span> 
 </div>
{% endif %}
{% if latestproducts %}
<div id="tab-latest" class="tab-content">
	<div class="box">
				<div class="box-content">

					{% set sliderFor = 8 %}
					{%	set productCount = latestproducts|length %}
					
						{% if productCount >= sliderFor %}
						<div class="customNavigation">
							<a class="fa prev fa-arrow-left">&nbsp;</a>
							<a class="fa next fa-arrow-right">&nbsp;</a>
						</div>	
					{% endif %}
					<div class="box-product {% if productCount >= sliderFor %}productbox-grid{% else %}product-carousel{% endif %}" id="{% if productCount >= sliderFor %}tablatest-grid{% else %}tablatest-carousel{% endif %}">
					{% for product in latestproducts %}
							<div class="{% if productCount >= sliderFor %}product-items{% else %}slider-item{% endif %}">
								<div class="product-block product-thumb transition">
									<div class="product-block-inner">	  	
										<div class="image">
											<a href="{{ product.href }} "><img src="{{ product.thumb }} " alt="{{ product.name }} " title="{{ product.name }} " class="img-responsive" />
											{% if not product.special %}        
											  {% else %}   
											<span class="saleicon sale">Sale</span>  
										   {% endif %}
										</a>
										{#{% if product.rating %}#}
													 <div class="rating">
													 {% for i in 1..5 %}
													 {% if product.rating < i %}
													 <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
													 {% else %}
													 <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
													 {% endif %}
													 {% endfor %}
													 </div>
												{#{% endif %}#}
										</div>
										<div class="caption">
												<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
												{# <p class="desc"><?php echo $product['description']; ?></p> #}

												{% if product.price %}
													<p class="price">
													{% if not product.special %}
													{{ product.price }}
													{% else %}
													<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
													{% endif %}
													{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
													{% endif %}
													</p>
												{% endif %}												
											</div>
										<div class="product_blockhover">									
											<div class="button-group">
												<button class="wishlist_button" type="button" data-toggle="tooltip" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>
												<button type="button" class="cart_button" onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }} </button>
												
												<button class="compare_button" type="button" data-toggle="tooltip" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-area-chart"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

					{% if productCount >= sliderFor %}
						<div class="tm-message">
							<i class="fa fa-frown-o"></i>
							No more products found!
						</div>
						<div class="loadmore">
						<button class="btn btn-default gridcount">Load More</button>
						</div>
						{% endif %}

				</div>
			 </div>
			  <span class="tablatest_default_width" style="display:none; visibility:hidden"></span>
 </div>
{% endif %}

{% if specialproducts %}
 <div id="tab-special" class="tab-content">
    	 <div class="box">
				<div class="box-content">
					
					{% set sliderFor = 10 %}
					{%	set productCount = specialproducts|length %}
					
					{% if productCount >= sliderFor %}
						<div class="customNavigation">
							<a class="fa prev fa-arrow-left">&nbsp;</a>
							<a class="fa next fa-arrow-right">&nbsp;</a>
						</div>	
					{% endif %}
					
					<div class="box-product {% if productCount >= sliderFor %}product-carousel{% else %} productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}tabspecial-carousel{% else %}tabspecial-grid{% endif %}">
					{% for product in specialproducts %}
							<div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items{% endif %}">
								<div class="product-block product-thumb transition">
									<div class="product-block-inner">	  	
										<div class="image">
											<a href="{{ product.href }} "><img src="{{ product.thumb }} " alt="{{ product.name }} " title="{{ product.name }} " class="img-responsive" />
											{% if not product.special %}        
											  {% else %}   
											<span class="saleicon sale">Sale</span>  
										   {% endif %}
										</a>
										{#{% if product.rating %}#}
													 <div class="rating">
													 {% for i in 1..5 %}
													 {% if product.rating < i %}
													 <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
													 {% else %}
													 <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
													 {% endif %}
													 {% endfor %}
													 </div>
												{#{% endif %}#}
										</div>
										<div class="caption">
												<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
												{# <p class="desc"><?php echo $product['description']; ?></p> #}

												{% if product.price %}
													<p class="price">
													{% if not product.special %}
													{{ product.price }}
													{% else %}
													<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
													{% endif %}
													{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
													{% endif %}
													</p>
												{% endif %}												
											</div>
										<div class="product_blockhover">									
											<div class="button-group">
												<button class="wishlist_button" type="button" data-toggle="tooltip" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>
												<button type="button" class="cart_button" onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }} </button>
												
												<button class="compare_button" type="button" data-toggle="tooltip" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-area-chart"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					{% if productCount >= sliderFor %}
						<div class="tm-message">
							<i class="fa fa-frown-o"></i>
							No more products found!
						</div>
						<div class="loadmore">
						<button class="btn btn-default gridcount">Load More</button>
						</div>
						{% endif %}
				</div>
			 </div>
		 <span class="tabspecial_default_width" style="display:none; visibility:hidden"></span> 
 </div>
{% endif %}

</div>
</div>
<script type="text/javascript">
$('#tabs a').tabs();
</script> 